{% extends "base.html" %}

<!--I can override any content I want, this means base.html should never be changed and only the content we want to override will change-->
{% block content %}
<h1>Welcome to Stock Infinity!</h1><br>

{% if user.is_authenticated %}
<p>Hello <b>{{user.username}}</b></p>
{% else %}
<p>Please note that you are not logged in. Not all features will be available until you login or create at account.</p>
{% endif %}

<br>
<p>
    We are very happy for you to try our web app, please submit any and all bugs to our github found at 
    <a href="https://github.com/davidknight00/finance_app">The link here</a>
</p>
{% endblock %}

{% block homeLink %}"nav-item nav-link active"{% endblock %}
